{% if user.is_authenticated %}

<div id="trains-section">
<!-- <form  method="Post" id="like_post">-->
    <br>
                 {% csrf_token %}
                 <div class="form-group">
        
                     <input type="text" id="source" name="source" value="" placeholder="source" >
                     <input type="text" id="destination" name="destination" value="" placeholder="destination" >
                    <button type="button" id="hi" class="btn btn-primary">Submit</button>
                    </div>


<!--   </form>-->

   {{trains.count}}
{% for train in trains%}
 <li>    
   <a href="">{{train.name}}</a>- {{train.source}} {{train.departure_time}} - {{train.destination}} {{train.arrival_time}}</li>
        
 {% endfor%}
{% endif %}
</div>
  <script>
  $(document).ready(function() {
$('#hi').click(function(){
    var source,destination;
    source = $('#source').val();
    destination = $('#destination').val();
      $.ajax({  
               type: "POST",
               url: "trains/",
               data: {'source': source,
                       'destination': destination,

               'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               
               success: function(response) {
               $('#trains-section').html(response['form'])
        
// <!--                      alert(response.message); -->
// <!--                      alert('Company likes count is now');-->
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    });
    });
</script>

