body
{
    /* background-image: url('../img/sample.jpg');  */
    background-repeat: no-repeat;
    background-size: 100%;
    align-content: center;
    text-align: center;
}

/* input
{
    align-content: center;
    padding: 1%;
    margin: 5px;
} */

/* .form-group
{
    padding: 2%;
    align-content: center;
    background-color: white;
} */

.footer {
  position:fixed;
  bottom:0;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #35a7e4;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}